<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4 col-md-offset-4 well">  
    <p>
      <strong>Title:</strong>
      <%= @task.title %>
    </p>
    
    <p>
      <strong>Notes:</strong>
      <%= @task.notes %>
    </p>
    
    <p>
      <strong>User:</strong>
      <%= @task.user %>
    </p>
    
    <p>
      <strong>Category:</strong>
      <%= @task.category %>
    </p>
  </div>  
</div>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
