<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <h2>Sign up</h2>

      <div class="field form-group">
        <%= f.label "First Name" %><br />
        <%= f.text_field :name, autofocus: true, class: 'form-control' %>
      </div>
    
      <div class="field form-group">
        <%= f.label "Last Name" %><br />
        <%= f.text_field :lname, autofocus: true, class: 'form-control' %>
      </div>
    
    
      <div class="field form-group">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: 'form-control' %>
      </div>
    
      <div class="field form-group">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
      </div>
    
      <div class="field form-group">
        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
      </div>

      <div class="actions form-group">
        <%= f.submit "Sign up", class: 'btn btn-success' %>
      </div>
    </div>
  </div>
<% end %>
